<!-- Side navbar -->
<aside class="docs-nav-sidebar">
   <div class="docs-nav" data-simplebar>
      <div class="offcanvas-md offcanvas-start" id="docsSidebar" data-bs-scroll="true">
         <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="docsSidebarLabel">Menu</h5>

            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
         </div>
         <div class="offcanvas-body pt-0 align-items-center">
            <ul class="navbar-nav flex-column" id="sidebarnav">
               <li class="navbar-header">
                  <h5 class="heading">Getting Started</h5>
               </li>
               <li class="nav-item"><a href="@@webRoot/docs/index.html" class="nav-link">Introduction</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/environment-setup.html" class="nav-link">Environment setup</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/working-with-gulp.html" class="nav-link">Working with Gulp</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/compiled-files.html" class="nav-link">Compiled Files</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/file-structure.html" class="nav-link">File Structure</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/resources-assets.html" class="nav-link">Resources & assets</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/changelog.html" class="nav-link">Changelog</a></li>

               <li>
                  <div class="navbar-border"></div>
               </li>
               <li class="navbar-header mt-0">
                  <h5 class="heading">Foundation</h5>
               </li>
               <li class="nav-item"><a href="@@webRoot/docs/typography.html" class="nav-link">Typography</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/colors.html" class="nav-link">Colors</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/shadows.html" class="nav-link">Shadows</a></li>

               <li>
                  <div class="navbar-border"></div>
               </li>

               <li class="navbar-header mt-0">
                  <h5 class="heading">
                     Components
                     <small class="text-primary">(Bootstrap)</small>
                  </h5>
               </li>
               <li class="nav-item"><a href="@@webRoot/docs/components/accordion.html" class="nav-link">Accordion</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/alert.html" class="nav-link">Alerts</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/badge.html" class="nav-link">Badge</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/breadcrumb.html" class="nav-link">Breadcrumb</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/button.html" class="nav-link">Buttons</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/button-group.html" class="nav-link">Button group</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/card.html" class="nav-link">Card</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/carousel.html" class="nav-link">Carousel</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/collapse.html" class="nav-link">Collapse</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/dropdown.html" class="nav-link">Dropdowns</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/list-group.html" class="nav-link">List group</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/modal.html" class="nav-link">Modal</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/nav-tabs.html" class="nav-link">Navs & tabs</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/offcanvas.html" class="nav-link">Offcanvas</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/pagination.html" class="nav-link">Pagination</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/placeholders.html" class="nav-link">Placeholders</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/popovers.html" class="nav-link">Popovers</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/progress.html" class="nav-link">Progress</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/scrollspy.html" class="nav-link">Scrollspy</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/spinners.html" class="nav-link">Spinners</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/table.html" class="nav-link">Tables</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/toast.html" class="nav-link">Toasts</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/components/tooltip.html" class="nav-link">Tooltips</a></li>
               <li>
                  <div class="navbar-border"></div>
               </li>
               <li class="navbar-header mt-0">
                  <h5 class="heading">Forms</h5>
               </li>
               <li class="nav-item">
                  <a href="@@webRoot/docs/components/forms.html" class="nav-link">Basic Forms</a>
               </li>
               <li class="nav-item">
                  <a href="@@webRoot/docs/components/intl-tel-input.html" class="nav-link">Intl Tel Input</a>
               </li>

               <li>
                  <div class="navbar-border"></div>
               </li>

               <li class="navbar-header mt-0">
                  <h5 class="heading">Utilities</h5>
               </li>
               <li class="nav-item"><a href="@@webRoot/docs/background.html" class="nav-link">Background</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/border.html" class="nav-link">Borders</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/colored-link.html" class="nav-link">Colored Links</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/opacity.html" class="nav-link">Opacity</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/ratio.html" class="nav-link">Ratio</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/stacks.html" class="nav-link">Stacks</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/color.html" class="nav-link">Colors</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/text.html" class="nav-link">Text</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/text-truncation.html" class="nav-link">Text truncation</a></li>
               <li class="nav-item"><a href="@@webRoot/docs/vertical-rule.html" class="nav-link">Vertical rule</a></li>
            </ul>
         </div>
      </div>
   </div>
</aside>
