<!-- Navbar Filter tabs -->
<div class="mt-6 col-12 d-flex flex-wrap gap-2">
   <a href="@@webRoot/blocks/about.html" class="filter-badge @@if (context.page === 'about') { active }">About</a>
   <a href="@@webRoot/blocks/award.html" class="filter-badge @@if (context.page === 'award') { active }">Award</a>
   <a href="@@webRoot/blocks/blog.html" class="filter-badge @@if (context.page === 'blog') { active }">Blog</a>
   <a href="@@webRoot/blocks/cta.html" class="filter-badge @@if (context.page === 'call-to-action') { active }">Call to Action</a>
   <a href="@@webRoot/blocks/clients.html" class="filter-badge @@if (context.page === 'clients') { active }">Clients</a>
   <a href="@@webRoot/blocks/contact.html" class="filter-badge @@if (context.page === 'contact') { active }">Contact</a>
   <a href="@@webRoot/blocks/carousel.html" class="filter-badge @@if (context.page === 'carousel') { active }">Carousel</a>
   <a href="@@webRoot/blocks/case-study.html" class="filter-badge @@if (context.page === 'casestudy') { active }">Case Study</a>
   <a href="@@webRoot/blocks/facts.html" class="filter-badge @@if (context.page === 'facts') { active }">Facts</a>
   <a href="@@webRoot/blocks/faq.html" class="filter-badge @@if (context.page === 'faq') { active }">FAQ</a>
   <a href="@@webRoot/blocks/features.html" class="filter-badge @@if (context.page === 'features') { active }">Features</a>
   <a href="@@webRoot/blocks/form.html" class="filter-badge @@if (context.page === 'form') { active }">Form</a>
   <a href="@@webRoot/blocks/footer.html" class="filter-badge @@if (context.page === 'footer') { active }">Footer</a>
   <a href="@@webRoot/blocks/hero.html" class="filter-badge @@if (context.page === 'hero') { active }">Hero</a>
   <a href="@@webRoot/blocks/integration.html" class="filter-badge @@if (context.page === 'integration') { active }">Integration</a>
   <a href="@@webRoot/blocks/industry.html" class="filter-badge @@if (context.page === 'industry') { active }">Industry</a>
   <a href="@@webRoot/blocks/location.html" class="filter-badge @@if (context.page === 'location') { active }">Location</a>
   <a href="@@webRoot/blocks/navbar.html" class="filter-badge @@if (context.page === 'navbar') { active }">Navbar</a>
   <a href="@@webRoot/blocks/portfolio.html" class="filter-badge @@if (context.page === 'portfolio') { active }">Portfolio</a>
   <a href="@@webRoot/blocks/pricing.html" class="filter-badge @@if (context.page === 'pricing') { active }">Pricing</a>
   <a href="@@webRoot/blocks/process.html" class="filter-badge @@if (context.page === 'process') { active }">Process</a>
   <a href="@@webRoot/blocks/services.html" class="filter-badge @@if (context.page === 'services') { active }">Services</a>
   <a href="@@webRoot/blocks/team.html" class="filter-badge @@if (context.page === 'team') { active }">Team</a>
   <a href="@@webRoot/blocks/testimonails.html" class="filter-badge @@if (context.page === 'testimonails') { active }">Testimonials</a>
</div>
