<!-- Favicon icon-->
<link rel="apple-touch-icon" sizes="180x180" href="@@webRoot/assets/images/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="@@webRoot/assets/images/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="@@webRoot/assets/images/favicon/favicon-16x16.png" />
<link rel="manifest" href="@@webRoot/assets/images/favicon/site.webmanifest" />
<link rel="mask-icon" href="@@webRoot/assets/images/favicon/block-safari-pinned-tab.svg" color="#8b3dff" />
<link rel="shortcut icon" href="@@webRoot/assets/images/favicon/favicon.ico" />
<meta name="msapplication-TileColor" content="#8b3dff" />
<meta name="msapplication-config" content="@@webRoot/assets/images/favicon/tile.xml" />

<!-- Color modes -->
<script src="@@webRoot/assets/js/vendors/color-modes.js"></script>

<!-- Libs CSS -->
<link href="@@webRoot/node_modules/simplebar/dist/simplebar.min.css" rel="stylesheet" />
<link href="@@webRoot/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

<!-- Scroll Cue -->
<link rel="stylesheet" href="@@webRoot/node_modules/scrollcue/scrollCue.css" />

<!-- Box icons -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/css/boxicons.min.css" />

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css" />
<!-- endbuild -->
